@page "/transactions"
@using BaseAppPerla.Components.Pages.TransactionComponents.Deliveries
@using BaseAppPerla.Interfaces
@using BaseAppPerla.Models
@inject ITransactionService _transactionService
@inject NavigationManager Navigation

<h3>Transakcije</h3>
<br />
<MudCard>
    <MudGrid>
        <MudItem xs="12" sm="6" md="3">
            <MudButton Style="margin: 10px" Variant="Variant.Filled" Color="Color.Primary">Kreiraj isporuku</MudButton>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudButton Style="margin: 10px" Variant="Variant.Filled" Color="Color.Primary">Kreiraj povrat</MudButton>
        </MudItem>
    </MudGrid>
</MudCard>
<br />

<MudTabs>
    <MudTabPanel Text="Isporuke">
        <MudCard>
            @if (showDeliveryTable)
            {
                <br />
                <MudTextField @bind-Value="SearchString" Placeholder="Pretraži po imenu/nazivu firme ili OIB" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
                <MudCheckBox @bind-Value="ShowActiveOnly" Label="Prikaži samo aktivne isporuke" />
                <br />
                <MudTable Items="@pagedDeliveryList"
                          Hover="true"
                          Striped="true"
                          Outlined="true"
                          RowsPerPage="deliveryRowsPerPage">
                    <HeaderContent>
                        <MudTh>Broj transakcije</MudTh>
                        <MudTh>Klijent</MudTh>
                        <MudTh>Datum isporuke</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Transakcija">@context.First().TransactionInfo?.TransactionId</MudTd>
                        <MudTd DataLabel="Klijent">@context.First().Inventory?.Customer?.Name</MudTd>
                        <MudTd DataLabel="Datum isporuke">@context.First().TransactionInfo?.TransactionDate.ToString("dd-MM-yyyy")</MudTd>
                        <MudTd DataLabel="">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowDeliveryDetails(context.First())">Detalji</MudButton>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudPagination Count="totalDeliveryPages" SelectedChanged="HandleDeliveryPageChange" />
                    </PagerContent>
                </MudTable>
            }
            else
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ResetDeliveryInfo()" Style="width: 160px; margin-top: 4px;">Prikaži isporuke</MudButton>
            }
            @if (showDeliveryInfo)
            {
                <DeliveryInfo transactionId="selectedDelivery!.TransactionInfo!.TransactionId" />
            }
            <br />
        </MudCard>
    </MudTabPanel>
    <MudTabPanel Text="Povrati">
        <MudTable Items="@pagedReturnList" Hover="true" Striped="true" Outlined="true">
            <HeaderContent>
                <MudTh>Povrat na isporuku broj</MudTh>
                <MudTh>Klijent</MudTh>
                <MudTh>Datum povrata</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Povrat na isporuku broj">@context.First().Delivery?.StockDeliveryId</MudTd>
                <MudTd DataLabel="Klijent">@context.First().Delivery?.Inventory?.Customer?.Name</MudTd>
                <MudTd DataLabel="Datum povrata">@context.First().Delivery?.TransactionInfo?.TransactionDate</MudTd>
                <MudTd DataLabel="">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary">Detalji</MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudPagination Count="totalReturnPages" SelectedChanged="HandleReturnPageChange" />
            </PagerContent>
        </MudTable>
    </MudTabPanel>
    <MudTabPanel Text="Sve transakcije">
        <MudTable Items="@pagedTransactionsList" Hover="true" Striped="true" Outlined="true">
            <HeaderContent>
                <MudTh>Ime</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Ime">@context.Description</MudTd>
            </RowTemplate>
        </MudTable>
    </MudTabPanel>
</MudTabs>

@code {
    private List<TransactionModel> transactionsList = new();
    private List<List<StockDelivery>> deliveryList = new();
    private List<List<StockReturn>> returnList = new();
    private StockDelivery? selectedDelivery;
    private StockReturn? selectedReturn;
    private string _searchString = string.Empty;
    private bool isLoading = true;
    private bool _showActiveOnly { get; set; } = true;
    private bool showDeliveryInfo = false, showDeliveryTable = true;
    private bool showReturnInfo = false, showReturnTable = true;

    // Pagination states for each tab
    private int totalDeliveryPages, deliveryRowsPerPage = 2, currentDeliveryPage = 1;
    private int totalReturnPages, returnRowsPerPage = 3, currentReturnPage = 1;
    private int totalTransactionPages, transactionRowsPerPage = 3, currentTransactionPage = 1;

    private IEnumerable<List<StockDelivery>> pagedDeliveryList => filteredDeliveryList
        .Skip((currentDeliveryPage - 1) * deliveryRowsPerPage)
        .Take(deliveryRowsPerPage);

    private IEnumerable<List<StockReturn>> pagedReturnList => filteredReturnList
        .Skip((currentReturnPage - 1) * returnRowsPerPage)
        .Take(returnRowsPerPage);

    private IEnumerable<TransactionModel> pagedTransactionsList => transactionsList
        .Skip((currentTransactionPage - 1) * transactionRowsPerPage)
        .Take(transactionRowsPerPage);

    protected override async Task OnInitializedAsync()
    {
        transactionsList = await _transactionService.GetAllTransactions();
        var deliveries = await _transactionService.GetAllDeliveries();
        var returns = await _transactionService.GetAllReturns();
        if (transactionsList != null || deliveryList != null || returnList != null)
        {
            isLoading = false;
        }
        deliveryList = GroupDeliveryByTransactionId(deliveries);
        returnList = GroupReturnByDeliveryId(returns);
        CalculateTotalPages();
    }

    private List<List<StockDelivery>> GroupDeliveryByTransactionId(List<StockDelivery> stockDeliveries)
    {
        var transactionIds = stockDeliveries.Select(x => x.TransactionInfo!.TransactionId).Distinct();
        var groupedStockDeliveries = new List<List<StockDelivery>>();
        foreach (var transactionId in transactionIds)
        {
            var groupedStockDelivery = stockDeliveries.Where(x => x.TransactionInfo!.TransactionId == transactionId).ToList();
            groupedStockDeliveries.Add(groupedStockDelivery);
        }
        return groupedStockDeliveries;
    }

    private List<List<StockReturn>> GroupReturnByDeliveryId(List<StockReturn> stockDeliveries)
    {
        var transactionIds = stockDeliveries.Select(x => x.Delivery!.StockDeliveryId).Distinct();
        var groupedStockDeliveries = new List<List<StockReturn>>();
        foreach (var transactionId in transactionIds)
        {
            var groupedStockDelivery = stockDeliveries.Where(x => x.Delivery!.StockDeliveryId == transactionId).ToList();
            groupedStockDeliveries.Add(groupedStockDelivery);
        }
        return groupedStockDeliveries;
    }

    private void CalculateTotalPages()
    {
        totalDeliveryPages = (int)Math.Ceiling(filteredDeliveryList.Count() / (double)deliveryRowsPerPage);
        totalReturnPages = (int)Math.Ceiling(filteredReturnList.Count() / (double)returnRowsPerPage);
        totalTransactionPages = (int)Math.Ceiling(transactionsList.Count() / (double)transactionRowsPerPage);
    }

    private void HandleDeliveryPageChange(int page)
    {
        currentDeliveryPage = page;
    }

    private void HandleReturnPageChange(int page)
    {
        currentReturnPage = page;
    }

    private void HandleTransactionPageChange(int page)
    {
        currentTransactionPage = page;
    }
    private void ShowDeliveryDetails(StockDelivery delivery)
    {
        selectedDelivery = delivery;
        showDeliveryTable = false;
        showDeliveryInfo = true;
    }
    private void ResetDeliveryInfo()
    {
        showDeliveryInfo = false;
        showDeliveryTable = true;
    }
    private void ShowReturnDetails(StockReturn stockReturn)
    {
        selectedReturn = stockReturn;
        showReturnTable = false;
        showReturnInfo = true;
    }
    private void ResetReturnInfo()
    {
        showReturnInfo = false;
        showReturnTable = true;
    }

    private IEnumerable<List<StockDelivery>> filteredDeliveryList => deliveryList
        .Where(d => (string.IsNullOrWhiteSpace(SearchString)
        || d.First().Inventory?.Customer?.Name?.Contains(SearchString, StringComparison.OrdinalIgnoreCase) == true
        || d.First().Inventory?.Customer?.Oib?.Contains(SearchString, StringComparison.OrdinalIgnoreCase) == true)
        && d.First().TransactionInfo?.IsActive == ShowActiveOnly || d.First().TransactionInfo?.IsActive == true);

    private IEnumerable<List<StockReturn>> filteredReturnList => returnList
        .Where(r => string.IsNullOrWhiteSpace(SearchString)
        || r.First().Delivery?.Inventory?.Customer?.Name?.Contains(SearchString, StringComparison.OrdinalIgnoreCase) == true
        || r.First().Delivery?.Inventory?.Customer?.Oib?.Contains(SearchString, StringComparison.OrdinalIgnoreCase) == true);

    private string SearchString
    {
        get => _searchString;
        set
        {
            if (_searchString != value)
            {
                _searchString = value;
                CalculateTotalPages();
            }
        }
    }

    private bool ShowActiveOnly
    {
        get => _showActiveOnly;
        set
        {
            if (_showActiveOnly != value)
            {
                _showActiveOnly = value;
                CalculateTotalPages();
            }
        }
    }
}
