@page "/"
@using BaseAppPerla.Components.Pages.CustomerComponents.CustomerWidgets
@using BaseAppPerla.Interfaces
@using BaseAppPerla.Models
@inject ICustomerDueService _customerDueService;
@inject NavigationManager Navigation

<h1>Naslovna</h1>

<MudCard>
    <MudCardContent>
        @if (showCustomerTable)
        {
            <h3 class="mb-3">Aktivni dužnici</h3>
        }
        else
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ResetCustomerInfo()" Style="width: 160px; margin-top: 4px;">Prikaži dužnike</MudButton>
        }
        @if (customersDueList.Count > 0)
        {
            @if (showCustomerTable)
            {
                <MudTable Items="customersDueListPaginated"
                          RowsPerPage="rowsPerPage"
                          Hover="true"
                          Striped="true"
                          Outlined="true">
                    <HeaderContent>
                        <MudTh>Ime</MudTh>
                        <MudTh>Oib</MudTh>
                        <MudTh>Kontakt</MudTh>
                        <MudTh>Email</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Ime">@context.Name</MudTd>
                        <MudTd DataLabel="Oib">@context.Oib</MudTd>
                        <MudTd DataLabel="Phone">@context.Phone</MudTd>
                        <MudTd DataLabel="Email">@context.Email</MudTd>
                        <MudTd Style=@RowBackgroundColor(context) DataLabel=""></MudTd>
                        <MudTd DataLabel="">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowCustomerDetails(context)">Detalji</MudButton>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudPagination Count="totalPages" SelectedChanged="HandlePageChange" />
                    </PagerContent>
                </MudTable>
            }
        }
        else
        {
            @if (isLoading)
            {
                <div>Provjeravam...</div>
            }
            else
            {
                <div>Nema aktivnih dužnika!</div>
            }
        }
    </MudCardContent>
</MudCard>

@if (showCustomerInfo)
{
    <div style="margin-top: 1rem;">
        <CustomerDueInfo customer="@SelectedCustomer"></CustomerDueInfo>
    </div>
}
@if (!showCustomerInfo)
{
    <MudCard Style="margin-top: 4rem">
        <MudCardContent>
            <MudText Typo="Typo.h6">Brze transakcije</MudText>
            <MudGrid>
                <MudItem xs="6" sm="3">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="()=>NavigationQuickButton(navigationPaths[0])">Kreiraj isporuku</MudButton>
                </MudItem>
                <MudItem xs="6" sm="3">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => NavigationQuickButton(navigationPaths[1])">Kreiraj povrat</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
    <MudCard Style="margin-top: 4rem">
        <MudCardContent>
            <MudText Typo="Typo.h6">Brzo upravljanje</MudText>
            <MudGrid>
                <MudItem xs="6" sm="3">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => NavigationQuickButton(navigationPaths[2])">Dodaj klijenta</MudButton>
                </MudItem>
                <MudItem xs="6" sm="3">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => NavigationQuickButton(navigationPaths[3])">Dodaj artikl</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}

@code {
    private List<Customer> customersDueList = new();
    private List<Customer> customersDueListPaginated = new();
    private Customer? SelectedCustomer;


    private bool showCustomerInfo = false;
    private string[] navigationPaths = { "/createdelivery", "/createreturn", "/addcustomer", "/additem" };
    private bool showCustomerTable = true;
    private bool isLoading = true;

    private int totalPages, rowsPerPage = 5, currentPage = 1;

    protected override async Task OnInitializedAsync()
    {
        customersDueList = await _customerDueService.GetOverdueCustomers();
        if (customersDueList != null)
        {
            isLoading = false;
        };
        CalculateTotalPages();
        UpdatePagedCustomers();
    }

    private void CalculateTotalPages()
    {
        totalPages = (int)Math.Ceiling(customersDueList.Count / (double)rowsPerPage);
    }

    private void UpdatePagedCustomers()
    {
        int startIndex = (currentPage - 1) * rowsPerPage;
        customersDueListPaginated = customersDueList.Skip(startIndex).Take(rowsPerPage).ToList();
    }
    private void HandlePageChange(int newPage)
    {
        currentPage = newPage;
        UpdatePagedCustomers();
    }
    private void ShowCustomerDetails(Customer customer)
    {
        SelectedCustomer = customer;
        showCustomerTable = false;
        showCustomerInfo = true;
    }
    private void ResetCustomerInfo()
    {
        showCustomerInfo = false;
        showCustomerTable = true;
    }
    private void NavigationQuickButton(string path)
    {
        Navigation.NavigateTo(path);
    }
    private string RowBackgroundColor(Customer customer)
    {
        if (customer.DaysOverdue > 0)
            return "background-color: red";
        else
            return "background-color: yellow";
    }
}